<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.idea.board.dto.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.idea.board.dto.BoardFileDTO" alias="boardFile"></typeAlias>
        <typeAlias type="com.idea.board.dto.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="com.idea.board.dto.CommentLikeDTO" alias="commentLike"></typeAlias>
        <typeAlias type="com.idea.board.dto.MemberDTO" alias="member"></typeAlias>

    </typeAliases>
</configuration>
